.navigation{
  background-color: black;
  color: white;
  height: 12dvh;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  padding: 10px;
  &_container{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-weight: 700;
    &_item{
      padding: 5px;
      margin: 10px;
    }
  }
}