.prices{
    width:90%;
    display: flex;
    flex-flow: column;
    margin: 0px 10px;
    // justify-content: space-around;
    // padding-top: 70px;
}
.annotation{
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
    margin: 20px 20px;
    // font-size: 80%;
    padding-bottom: 150px;
}