.settingsCard{
  width: 30dvw;
  display:flex;
  height: 250px;
  display:grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin: 20px;
  padding: 10px 20px;
  color:white;
  cursor: pointer;
  font-size: large;
  &:hover{
    box-shadow: 0 10px 20px rgba(53,53,53,.5); 
  }
}
.leftTop_div{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  &_title{
    padding: 13px;
    font-size: 125%;
    font-weight: 600;
    letter-spacing: 2px;
  }
}

.imageUser_div{
  height: 90px;
  width: 90px;
  border: solid #5a5a5a 2px;
  border-radius: 48%;
  object-fit: contain;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  &_img{
    width: 73%;
    height: 70%;
  }
}

.leftBottom{

  display:flex;
  justify-content: flex-start;
  align-items: center;
  color:#5a5a5a;
  font-weight:500;
  
}
@media screen and (max-width: 1000px) {
  .settingsCard{
    flex-flow: column;
    width: 90dvw;
   
  }
  .imageUser_div{
    &_img{
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: white solid 7px;
    }
  }
}