.settingsCard{
  width: 30dvw;
  // min-width: 500px;
  height: 250px;
  display:grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin: 20px;
  padding: 10px 20px;
  color:white;
  cursor: pointer;
  font-size: large;
  &:hover{
    box-shadow: 0 10px 20px rgba(53,53,53,.5); 
  }
}
.leftTop_div{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  &_title{
    padding: 13px;
    font-size: 125%;
    font-weight: 600;
    letter-spacing: 2px;
  }
}

.imageUser_div{
  &_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: white solid 7px;
  }
}

.leftBottom{

  display:flex;
  justify-content: flex-start;
  align-items: center;
  color:#5a5a5a;
  font-weight:500;
  
}