.qr_partners{
  display:flex;
  justify-content: space-around;
  >img{
    object-fit: contain;
    border-radius: 2px;
    margin: 10px;
    border: solid gray 1px;
    height: 60px;
    width: 60px;
    padding: 2px;
  }
};

.qr_qr{
  margin: 12px auto;
};

.phone_pay_content{
  max-width: 400px;
  margin-bottom: 20px;
  >div{
    margin-bottom: 20px;
    color: green;
  }
}  