.receipt{
  font-size: 75%;
  margin:0px;
  // padding: 0px;
}

.receiptPartner{
  font-weight: 600;
  display: flex;
  flex-flow: column wrap;
  & >div{
    display: flex;
    justify-content: flex-start;
  }
}
.receiptFooter{
  margin-left: 80px;

}