.service_item{
  display: flex;
  flex-flow: column wrap;
  padding: 20px;
  margin:10px;
  width: 380px;
  background-color: rgb(247, 246, 246);
  &_hightSwitch{
    padding: 10px 8px;
    font-weight: 500;
    border: #eeeeee solid 1px;
    border-radius: 16px;
    background-color:#eeeeee;
    display:flex;
    justify-content: space-between;
  }
  &_simpleRow{
    display:flex;
    justify-content: space-between;
    padding: 10px 8px;
    &_amount{
      padding: 2px;
      cursor: pointer;
      &:hover{
        background-color:#eeeeee;
      }
    }
  }
}

.allservices{
  display: flex;
  width:100%;
  font-size: 80%;
}