*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html { 
  padding-right: 0 !important;
  overflow-y: scroll !important;
  height: 100%; 
}
body{
  padding-right: 0 !important;
}
/* Storex orange */
/* // background: #F69221; */
/* Storex green */
/* #3FB68A */
.App {
  text-align: center;
  align-items: center;
  margin:0;
}

