.loginPage{
  display: flex;
  flex-flow: column;
align-items: center;
  &_content{
    width: 60dvw;
    height: 60dvh;
    margin: 40px;
    
  }
}
.form{
  display: flex;
  width:  60dvw;
  height:  60dvh;
  flex-flow: column nowrap;
  margin-top: 20px;
  &_item{
    color:  white;
    padding: 5px;
    
    margin: 20px;
  }
}