.smallCard{
  display: flex;
  flex-flow:column;
  justify-content: space-around;
  min-width: 150px;
  height: 75px;
  border-radius: 5px;
  font-size: 75%;
  background: linear-gradient(0deg, rgba(26,61,48,1) 0%, rgba(63,182,138,1) 100%);
  color: white;
  margin: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
 
  
}

