.smallCard{
  display: flex;
  flex-flow:column;
  justify-content: space-around;
  min-width: 150px;
  height: 75px;
  border-radius: 5px;
  font-size: 75%;
  background: linear-gradient(0deg, rgba(26,61,48,1) 0%, rgba(63,182,138,1) 100%);
  color: white;
  margin: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.hovertext {
  position: relative;
  cursor:pointer;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0.5;
  min-width: 140px;
  background-color: #eeeeee;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity .5s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}
